.footer {
  background: #111;
  color: white;
  padding: 30px 20px;
  text-align: center;
  
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p, .footer-section li, .footer-section a {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li:hover,
.footer-section a:hover {
  color: #ff4c29;
}

.socials a {
  margin-right: 10px;
  font-weight: bold;
  color: #ff4c29;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  border-top: 1px solid #444;
  padding-top: 15px;
  color: #aaa;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-section h3 {
    font-size: 16px;
  }
}
